*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #EBF2F5;
    font-family: nunito;
    font-size: 100%;
}

/*home-duck*/
.home{
    display: flex;
    border-radius: 0px 0px 0px 150px;
    border: 0px solid #FFF;
    background: #15C3D6;
}

.Duck-health-titulo{
    left: 180px;
    top: 180px;
    position: relative;
    color: #FFD666;
    font-family: Nunito;
    font-size:300%; 
    font-style: normal;
    font-weight: 800;
}

.lorem-inicio{
    position: relative;
    left: 180px;
    top: 180px;
}

.consultorio{
    position: relative;
    left: 405px;
    width: 1000px;
    height: 900px;
    
}

.duck-text{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 44px;
    color: #FFF;
    text-align: justify;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.botao{
    position: relative;
    top: 200px;
    left: 200px;
    height: 75%;
    width: 100%;
    border-radius: 20px;
    background: #2E4A7D;
    color: #FFF;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 780;
    line-height: normal;
    height: 10%;
    border: none;
}

.icone-laudos{
    position: relative;
    top: 205px;
    right: 220px;
}

.sobre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-around;
}

a{
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #15C3D6;
    height: 12vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 65px; 
}

@media (max-whith: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #15C3D6;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
}

#logo{
    background-color: #2E4A7D;
    width: 81.875px;
    height: 85.438px;
    border-radius: 8px 8px;
    position: relative;
    right: 129px; 
}

/*rodapé*/
.rodape{
    background: #15C3D6;
    width: auto;
    height: 200px;
    flex-shrink: 0;
    border-radius: 0px 80px 0px 0px;
    
    display: flex;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    padding-left: 49px;
    padding-top: 15px;
}

#icone-rodape{
    width: 154px;
    height: 147px;
    flex-shrink: 0;
    padding-left:6px;
}
