*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #EBF2F5;
    font-family: nunito;
    font-size: 100%;
    overflow-x: hidden;
}

/*home-duck*/
.home{
    display: flex;
    position: relative;
    border-radius: 0px 0px 0px 150px;
    border: 0px solid #FFF;
    background: #15C3D6;
    z-index: 1;
    width: 100%;
    height: auto;
}

.Duck-health-titulo{
    left: 180px;
    top: 180px;
    position: relative;
    color: #FFD666;
    font-family: Nunito;
    font-size:300%; 
    font-style: normal;
    font-weight: 800;
}

.lorem-inicio{
    position: relative;
    left: 180px;
    top: 180px;
}

.consultorio{
    position: relative;
    z-index: 10;
    left: 405px;
    width: 1000px;
    height: auto;
}

.duck-text{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 44px;
    color: #FFF;
    text-align: justify;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.botao{
    position: relative;
    top: 200px;
    left: 200px;
    height: 75%;
    width: 100%;
    border-radius: 20px;
    background: #2E4A7D;
    color: #FFF;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 780;
    line-height: normal;
    height: 10%;
    border: none;
}

.icone-laudos{
    position: relative;
    top: 232px;
    right: 220px;
}

.vector-inicio{
    position: relative;
    transform: rotate(270deg);
    bottom: 18.3em;
    left: 10em;
    max-width: 100%;
    height: auto;
}

.vector-inicio2{
    display: block;
    position: relative;
    transform: rotate(270deg);
    bottom: 54em;
    left: 96em;
    max-width: 100%;
    height: auto;
}

.sobre{
    display: flex;
    background-color: #EBF2F5;
    align-content: center;
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    z-index: 2;
}

.sobre-text{
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
    left: 60em;
    bottom: 15em;
    gap: 44px;
    color: rgba(46, 74, 125, 0.80);
    text-align: justify;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sobre-titulo{
    display: flex;
    color: #2E4A7D;
    text-align: center;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.lorem-sobre{
    width: 650px;
    word-wrap: break-word;
    margin-bottom: 0;
    padding: 0%;
    margin: 0%;
}


.vetor-sobre1{
    position: relative;
    left: 7em;
    bottom: 10em;
    max-width: 100%;
    height: auto;
}

.vetor-sobre2{
    position: relative;
    right: 20em;
    bottom: 15em;
    max-width: 100%;
    height: auto;
}

.vetor-sobre3{
    position: relative;
    right: 39.9em;
    bottom: 16em;
    max-width: 100%;
    height: auto;
}

.img-atendimento{
    position: relative;
    top: 5em;
    left: 26em;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

@media (max-width: 768px) {
    .sobre-text {
        font-size: 1.5em;
    }
}

.exames{
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FFD666;
    border-radius: 0px 222px 0px 220px;
    width: 1900px;
    height: 655px;
    z-index: 3;
}

.titulo-exames{
    display: flex;
    position: relative;
    left: 5em;
    top: 1em;
    width: 209px;
    height: 57.087px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #2E4A7D;
    text-align: center;
    font-family: Nunito;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-exames1{
    display: flex;
    position: relative;
    top: 15em;
    color: #3C5D95;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    width: 234px;
    height: 148.226px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exames-img1{
    display: flex;
    position: relative;
    top: 10em;
    left: 12em;
    flex-direction: row;
    width: 150px;
    height: 150.229px;
    flex-shrink: 0;
    border-radius: 150.229px;
    border: 2.5px solid #2E4A7D;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.text-exames2{
    display: flex;
    position: relative;
    top: 25em;
    right: 8em;
    color: #3C5D95;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    display: flex;
    width: 234px;
    height: 148.226px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exames-img2{
    display: flex;
    position: relative;
    top: 23em;
    left: 1.8em;
    flex-direction: row;
    width: 150px;
    height: 150.229px;
    flex-shrink: 0;
    border-radius: 150.229px;
    border: 2.5px solid #2E4A7D;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.text-exames3{
    display: flex;
    position: relative;
    top: 12em;
    right: 8em;
    color: #3C5D95;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    display: flex;
    width: 234px;
    height: 148.226px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exames-img3{
    position: relative;
    top: 6.5em;
    left: 1.5em;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150.229px;
    flex-shrink: 0;
    border-radius: 150.229px;
    border: 2.5px solid #2E4A7D;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.text-exames4{
    position: relative;
    top: 25em;
    right: 8em;
    color: #3C5D95;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    display: flex;
    width: 234px;
    height: 148.226px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exames-img4{
    position: relative;
    top: 23em;
    left: 1.9em;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150.229px;
    flex-shrink: 0;
    border-radius: 150.229px;
    border: 2.5px solid #2E4A7D;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.text-exames5{
    position: relative;
    top: 15em;
    right: 8em;
    color: #3C5D95;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    display: flex;
    width: 234px;
    height: 148.226px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.exames-img5{
    position: relative;
    top: 10.5em;
    left: 1.9em;
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 150.229px;
    flex-shrink: 0;
    border-radius: 150.229px;
    border: 2.5px solid #2E4A7D;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

a{
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #15C3D6;
    height: 12vh;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 65px; 
}

@media (max-whith: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #15C3D6;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
}

#logo{
    background-color: #2E4A7D;
    width: 81.875px;
    height: auto;
    border-radius: 8px 8px;
    position: relative;
    right: 129px; 
}

/*Endereço*/

.endereco{
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
}

.vetor-endereco1{
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    right: 5em;
    bottom: 6.5em;
    transform: rotate(90deg);
}

.vetor-endereco2{
    display: block;
    position: relative;
    width: 50%;
    height: auto;
    bottom: 6em;
    right: 16.5em;
    transform: rotate(45deg);
    margin: 0;
}

.vetor-endereco3{
    display: block;
    position: relative;
    width: 60%;
    height: auto;
    bottom: 2em;
    right: em;
    transform: rotate(45deg);
}

.text-end{
    position: relative;
    left: 2.5em;
    bottom: 1.8em;
    color: #2E4A7D;
    font-family: Nunito;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-local{
    color: rgba(46, 74, 125, 0.80);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    right: 4em;
    white-space: nowrap;
}

.text-ambiente{
    color: rgba(46, 74, 125, 0.80);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    right: 27.5em;
    top: 3.5em;
    white-space: nowrap;
}

.text-bola{
    color: rgba(46, 74, 125, 0.80);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    position: relative;
    top: 7em;
    right: 51em;
    white-space: nowrap;
}

.icone-predio{
    position: relative;
    right: 5em;
}

.icone-ar{
    position: relative;
    right: 31.5em;
    top: 4.5em;
}

.icone-bola{
    position: relative;
    right: 58em;
    top: 8em;
}

.img-mapa{
    position: relative;
    top: 2em;
    right: 15em;
}

/*Contatos*/
.main-contatos{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 5% 0% 25% 5%;
}
.left-page{
    width: 50vw;
    height: 0vh;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    border-color: none;
}


.inp-junto{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#inp1{
    width: 40%;
    padding: 1%;
    padding-left: 8px;
    border: none;
    border-radius: 8px;
    
    color: #909090;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#inp2{
    width: 39%;
    padding: 1%;
    padding-left: 8px;
    border: none;
    border-radius: 8px;

    color: #909090;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.inp-junto2{
    display: flex;
    position: relative;
    top: 1.5em;
    flex-direction: column;
    border-radius: 8px;
}

#maiorInp{
    position: relative;
    bottom: 1em;
    width: 80%;
    padding-bottom: 19%;
    padding-left: 8px;
    border: none;

    color: #909090;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#botao-cont{
    width: 80%;
    background: #2E4A7D;
    color: #FFF;
    padding: 15px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(26, 7, 156, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.right-page{
    width: 50vw;
    height: 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0% 10% -7%;
    margin-left: 10px;
    font-size: 100em;
}

.contatosPage{
    width: 100%;
}

.icon-cont{
    display: flex ;
    flex-direction: column;
    margin: 1.5%;
}

.cont1{
    display: flex;
    align-items: center;
}

#contatos{
    font-size: 4%;
    color: #2E4A7D;
    margin-left: 20%;
}

.social-medias{
    font-size: 2%;
    color: #2E4A7D;
    
}


/*rodapé*/
.rodape{
    background: #15C3D6;
    width: auto;
    height: 200px;
    flex-shrink: 0;
    border-radius: 0px 80px 0px 0px;
    
    display: flex;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    padding-left: 49px;
    padding-top: 15px;
}

#icone-rodape{
    width: 154px;
    height: 147px;
    flex-shrink: 0;
    padding-left:6px;
}
